{% extends "layout.html" %}
{% block page_title %}Changelog{% endblock %}
{% set headline = "Changelog" %}
{% block body %}
  <section class="box">
    <h2>2026-06-06</h2>
    <ul>
      <li>
        2025 levels are available now! As in previous years, the default selection will remain at 2024 for now, but
        you can switch to "Any" year or select 2025 explicitly if that's what you want. Have fun! :)
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-12-08</h2>
    <ul>
      <li>
        Due to a whole bunch of internal changes, your previously stored filters will no longer be restored. However,
        your picked filters are now part of the randomizer URL, which means you can just bookmark whatever set of
        filters you'd like to have applied. Or maybe you'll end up with multiple bookmarks with different filters,
        depending on your mood. We won't judge.
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-12-01</h2>
    <ul>
      <li>
        2024 levels are now available, if you're so inclined. The randomizer will still default to 2023, since that's
        our main focus, but you now have the option! Special shout-out to PiGuy10, who put in extra shifts to resolve a
        bunch of technical challenges! 💙
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-10-24</h2>
    <ul>
      <li>
        We're almost out of 2022 levels, and since the few remaining ones are kinda hard, the randomizer now defaults to
        2023. Keep clearing!
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-06-29</h2>
    <ul>
      <li>
        The randomizer now stores your last selected filters. If you're into grinding those SMB3 speedrun levels, you
        now no longer have to set the filters every time!
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-03-16</h2>
    <ul>
      <li>2021 levels are all done! 🥳</li>
    </ul>
  </section>
  <section class="box">
    <h2>2025-03-12</h2>
    <ul>
      <li>
        We're almost done with 2021 and thereare only 10 levels left. To keep this randomizer useful, it now defaults to
        2022 levels!
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-12-24</h2>
    <ul>
      <li>2023 levels are now available for you to pick! Happy holidays! :)</li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-10-12</h2>
    <ul>
      <li>You'll now be able to see each level's theme and its clear condition - if there is one.</li>
      <li>
        You can now filter for Level Themes and Tags. So if you want to hunt those juicy Ghost House speedruns, this is
        your chance!
      </li>
      <li>
        In addition, you can also filter for Clear Conditions now! Because there are so many, they are grouped into
        logical groups, but you'll be able to find what you're looking for. And before anyone asks: yes, Yoshi is a
        power-up.
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-10-10</h2>
    <ul>
      <li>
        It is now possible to select "Any" for the year, too. This allows you to randomize across all available years if
        you want to. Note, however, that the default selection will stay on the current focus year.
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-10-09</h2>
    <ul>
      <li>2020 levels are all done! Wohoo! This randomizer now defaults to 2021 levels.</li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-10-06</h2>
    <ul>
      <li>
        After you cleared a level, you can now use the "Mark as Cleared" button to automatically submit a clear report
        to the project's Discord!
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-10-05</h2>
    <ul>
      <li>
        We're almost done with all 2020 SMM2 levels! This randomizer now also supports levels from 2021 and 2022. The
        default selection will remain with 2020 until everything is cleared.
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-03-23</h2>
    <ul>
      <li>
        This tool is now available under its new primary domain,
        <a href="https://smm-uncleared.com">smm-uncleared.com</a>.
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-03-22</h2>
    <ul>
      <li>Removed the SMM1 features, as there are no more uncleared levels left! 🎉</li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-03-13</h2>
    <ul>
      <li>
        Removed the outdated data alert again, as the data should no longer lag super badly. We'll keep working on
        making it even better in the future!
      </li>
    </ul>
  </section>
  <section class="box">
    <h2>2024-03-04</h2>
    <ul>
      <li>Added a warning box alerting users about the outdated data.</li>
    </ul>
  </section>
  <section class="box">
    <h2>2023-11-23</h2>
    <ul>
      <li>For SMM2, you can now filter by game style. Thanks, @kittenchilly.</li>
    </ul>
  </section>
  <section class="box">
    <h2>2023-11-09</h2>
    <ul>
      <li>
        You can now click on a Course ID to copy it to your clipboard. Useful if you want to paste it into Discord, a
        text editor, or anywhere else, really.
      </li>
      <li>
        There was a rare edge-case in the component that imported the level database, which resulted in the database
        being completely empty for a couple of minutes. According to the logs, not a single user was affected by this -
        but this fixed now either way.
      </li>
    </ul>
  </section>
{% endblock %}
